<!DOCTYPE html>
<html  lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<title>SayLaugh</title>
		<script th:src="@{/static/js/jquery-1.9.1.min.js}"></script>
		<link rel="stylesheet" th:href="@{/static/css/send.css}" />
		<link rel="stylesheet" th:href="@{/static/js/lib/prism/prism.css}" />

		<script th:src="@{/static/js/lib/tinymce/tinymce.min.js}" type="text/javascript"></script>
		<link rel="shortcut icon" th:href="@{/static/img/logo.ico}"/>

		<script th:src="@{/static/js/send.js}" ></script>
	</head>

	<body>
		<div class="body-star"><div class="stars"></div></div>
		<div class="container">
		<div class="container bg-tltle" th:replace="/public :: bg-tltle"></div>
		<div class="container to-body">
			<div class="row">
				<div class="col-lg-12" style="text-align: left;">
					<div class="art-t-all">
						<input type="text" class="art-title" placeholder="文章标题" />
							<div class="clearfix">
								 <div class="parent-div" node="1">
									 文章类别:
									 <span  status="0">Vue.js</span>
									 <span  status="0">Vue.js</span>
									 <span  status="0">Vue.js</span>
									 <span  status="0">Vue.js</span>
									 <span  status="0">Vue.js</span>
									 <span  status="0">Vue.js</span>
									 <span  status="0">Vue.js</span>
									 <span  status="0">Vue.js</span>
								 </div>
							</div>
						<div class="initial-div">
							<span id="timeID"></span>
							<span class="art-userName">作者：SayLaugh</span>
							<span class="send-save" status="0">保存</span>
							<span class="send-ok" status="0">发送</span>
						</div>
					</div>
					<div id = "tinymce_demo"></div>
					<!--加载控件-->
					<script th:src="@{/static/js/lib/tinymce/load.js}"></script>
				</div>
			</div>
		</div>
			<div th:replace="/footer :: foot"></div>
		</div>
		<button type="button" class="ac" onclick="getbody()">读取数据1</button>
	</body>

</html>